.productFont {
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

.primaryTextColor{
  color: var(--priamry-text-color);
}
.secondaryTextColor{
  color: var(--secondary-text-color);
}

.cardBg{
  background-color: var(--card-background-color);
}

.w90 {
  width: 90%;
}

.moreCardCont{
  height: 60vh;
  overflow-y: scroll;
}

.moreCardImg{
  height: 15vh;
  object-fit: contain;
}
.moreWrapper{
  position: relative;
}
.moreTitle{
  position: sticky;
  top: 0;
  z-index: 10;
}

.fillTheGap{
  font-size: 4em;
  font-family: "Passion One", sans-serif;
  font-weight: 400;
  text-align: right;
}
/************** MOD edit *************/
.form-control.fs-4 {
  font-size: calc(1.275rem + 0.3vw);
}
.form-control.fs-1 {
  font-size: calc(1.375rem + 1.5vw);
}

.imgPreview {
  max-height: 45vh;
  object-fit: contain;
  background-color: white;
  padding: 1em;
}

.infoCol{
  background-color: var(--card-background-color);
}

.pDescr{
  max-height: 150px;
}

.banner{
  width: 40% !important;
  border-radius: 5px;
  background-color: var(--available-bg);
  position: relative;
  color: var(--primary-text-color);
  box-shadow: 6px 6px 5px var(--all-good-alert-background);
  animation: pop 2s infinite;
}
.banner::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 25px solid var(--card-background-color);
}

@keyframes pop {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}